{{- define "main" }}

{{- $isWordCloudJSenabled := site.Params.assets.enableWordCloudJS | default false }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- if $isWordCloudJSenabled }}
<div id="cloud-container" style="height: 250px">
    <div id="tags-cloud"></div>
</div>
<script>
    function addLinksInCloud() {
        // loop over all added elements (by class name)
        document.querySelectorAll('.tag-cloud-item').forEach(function (element) {
            const text = element.innerHTML;
            element.innerHTML = `<a href="/tags/${text}" style="color: inherit;">${text}</a>`;
        });
    }

    function drawCloud() {
        const tagsCloud = document.getElementById('tags-cloud');
        // clear old cloud
        tagsCloud.removeEventListener('wordcloudstop', addLinksInCloud);
        tagsCloud.innerHTML = '<canvas></canvas>';

        // get data
        const canvas = document.getElementsByTagName("canvas")[0];
        const links = document.querySelectorAll('.terms-tags li a');
        const data = [];
        for (let i = 0; i < links.length; i++) {
            const url = links[i].href;
            const tagStr = links[i].childNodes[0].textContent.trim();
            const count = links[i].querySelector('sup').textContent.trim();
            data.push([tagStr, count, url]);
        }

        // get cur theme
        const color = document.body.className.includes('dark') ? 'random-light' : 'random-dark';

        // draw cloud
        WordCloud(tagsCloud, {
            list: data,
            classes: 'tag-cloud-item',
            weightFactor: 10,
            clearCanvas: false,
            color,
            minSize: 14,
            // shrinkToFit: true,
            drawOutOfBound: false,
            // shape: 'diamond',
            // minSize: 500,
            shuffle: false,
            rotateRatio: 0.5,
            // wait: 20,
        });

        // [is it possible to make a wordcloud with links? #133](https://github.com/timdream/wordcloud2.js/issues/133#issuecomment-702555369)
        tagsCloud.addEventListener('wordcloudstop', addLinksInCloud);
    }

    window.addEventListener('load', () => {
        drawCloud();
        // 必须在theme-toggle最后加载，在footer.html中的theme-toggle事件将在这之后加载，
        // 使得在重载之前body.classList.dark还没有被配置
        document.getElementById('theme-toggle').addEventListener('click', drawCloud);
        // [How to wait for the 'end' of 'resize' event and only then perform an action?](https://stackoverflow.com/a/5490021/8566831)
        let taskId = undefined;
        window.addEventListener('resize', () => {
            clearTimeout(taskId);
            taskId = setTimeout(drawCloud, 300);
        });
    });
</script>
{{- end }}
{{- end }}{{/* end main */ -}}